      .card.blue-grey.darken-1
        .card-content.white-text
          %span.card-title 新しいTODO
          %p TODOリストの編集
        .card-action
          %form{ :action => "regist", :method => "POST" }
            .input-field
              %label
                todo:
              %input{ type: 'text', name: 'content', value: '' }
            .input-field
              %select{ name: 'status' }
                %option{:disabled => "disabled", :selected => "selected", :value => ""}
                  選んでください
                %option{ value: '1' }
                  TODO
                %option{ value: '2' }
                  DOING
                %option{ value: '3' }
                  DONE
              %label
                category:
            %input.waves-effect.waves-light.btn{ type:'submit'}
            = link_to 'delete', @todo, method: :delete, :action => "destroy", .waves-effect waves-light btn-small
  .row
    - todo = @todo[1]
    = haml :_result, :locals => { target: todo, name: 'TODO' }
    - doing = @todo[2]
    = haml :_result, :locals => { target: doing, name: 'DOING' }
    - done = @todo[3]
    = haml :_result, :locals => { target: done, name: 'DONE' }

